doctype html
html
   head
      title="leaflet-d3-sample"
      meta(charset="utf-8")
      link(rel='stylesheet', href='./css/app.css')
      link(rel='stylesheet', href='./lib/leaflet-0.7.5/leaflet.css')
   body#main
      div#map
      script(src='./js/bundle.js', charset='UTF-8')
      script(src='./lib/leaflet-0.7.5/leaflet.js', charset='UTF-8')
