fonts = helvetica, arial, sans-serif

#leaflet
  #map
    width: 100%;
    height: 100%;
    margin: 5px 0;
  #setting
    margin: 5px 0;
  #list
    margin: 5px 0;
    height: 88%;
    overflow-y: auto;

#bi
  #map
    width: 100%;
    height: 70%;
    margin: 5px 0;
  #app
    height: 70%;
  #app > div
    height: 70%;
    overflow-y: auto;
  #graph
    height: 30%;
  #setting
    margin-top: 5px;